.main {
    height: 600px;
    background-image: url("../images/earphones.jpg");
    /*height: 100%;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
header{
    /*height: 96px;*/
    width: 100%;
    background-color: rgba(88,79,76,0.4);
    padding-bottom: 20px;
   /* position: fixed;*/
}
.head{
    width: 80%;
    margin: auto;
    padding-top: 34px;
}
.cb{
    clear:both;
}
a{
    text-decoration: none;
}
.logo{
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    /* color: #fff;*/
    font-weight: bold;
    color: #ff892f;
}
nav ul{
    float: right;
}
nav li{
    float: left;
    margin-left: 20px;
}
li{
    list-style: none;
}
.head nav li a{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
   /* color: #fff;*/
    font-weight: bold;
    color: #ff892f;
}
.head nav li a:hover{
    color: #fff;
}

.head nav li:last-child a{
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 5px 3px;
}
.head nav li:last-child a:hover{
   color: #fff;
   background-color: rgba(255,137,47,0.4);
}
.main-plan{
    width: 80%;
    margin: auto;
    position: relative;
    top: -200px;
    left: 0px;
}

.main-plan .plan{
    width: 30%;
    background-color: rgba(104,181,43,0.4);
    float: left;
    margin:70px 20px 0px 0px;
    padding-bottom: 20px;
    border-radius: 5px;

}
.main-plan .plan:nth-child(6){
    margin-right: 0%;

}
.main-plan .plan:nth-child(3){
    margin-right: 0px;
}

.main-plan .stu-plan{
    background-color: rgba(104,181,43,0.2);
}
.main-plan .indiv-plan{
    background-color: rgba(60,193,178,0.2);
}
.main-plan .fam-plan{
    background-color: rgba(64,87,224,0.2);
}
.plan .plan-title{
    width: 100%;
    height: 70px;
    border-radius: 5px;
    margin-bottom: 15px;
}
.stu-plan .plan-title{
    background-color: rgb(104,181,43);
}
.indiv-plan .plan-title{
    background-color: rgb(60,193,178);
}
.fam-plan .plan-title{
    background-color: rgb(64,87,224);
}
.plan .plan-title h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    /* color: #fff;*/
    font-weight: bold;
    line-height: 70px;
    text-align: center;;
    color: #fff;
}
.plan h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 34px;
    font-weight: bold;
    text-align: center;
}
.stu-plan h1{
    color: rgb(104,181,43);
}
.indiv-plan h1{
    color: rgb(60,193,178);
}
.fam-plan h1{
    color: rgb(64,87,224);
}
.plan ul{
    margin: 10px 0px 0px 20px;
}
.plan ul li{
    list-style-type: circle;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 5px 0px;
    font-family: Tahoma;
}
.plan a{
    display: block;
    width: 50%;
    font-family: "Arial Rounded MT Bold";
    font-size: 16px;
    margin: 30px auto;
    border-radius: 5px;
    padding: 15px 10%;

    text-align: center;
}
.plan .read-more{
    display: inline;
    margin: unset;
    border-radius: 0px;
    padding: 0px;
    background: none;
}
.stu-plan .read-more{
    color: rgb(104,181,43);
}
.indiv-plan .read-more{
    color: rgb(60,193,178);
}
.fam-plan .read-more{
    color: rgb(64,87,224);
}
.stu-plan a{
    background-color: rgb(104,181,43);
    color:#fff;
}
.indiv-plan a{
    background-color: rgb(60,193,178);
    color:#fff;
}
.fam-plan a{
   background-color: rgb(64,87,224);
    color:#fff;
}
.plan .plan-working{
    width: 90%;
    margin: auto;
    padding-top: 20px;
}
.stu-plan .plan-working{
    border-top: 3px solid rgb(104,181,43);
}
.indiv-plan .plan-working{
    border-top: 3px solid rgb(60,193,178);
}
.fam-plan .plan-working{
    border-top: 3px solid rgb(64,87,224);
}
.plan .plan-working h4{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    /* color: #fff;*/
    font-weight: bold;
}
.plan .plan-working p{
    font-size: 14px;
}
.stu-plan .plan-working h4{
    color: rgb(104,181,43);
}
.indiv-plan .plan-working h4{
    color: rgb(60,193,178);
}
.fam-plan .plan-working h4{
    color: rgb(64,87,224);
}
footer{
    width: 100%;
    /*height: 50px;*/
    background-color: sienna;
}
footer p{
    width: 50%;
    float: left;
    line-height: 50px;
    margin-left: 20px;
    color: #fff;
}
footer ul{
    float:right;
    width: 40%;
    margin-top: 20px;
}
footer ul li{
    float: left;
    margin-left: 10px;
}
footer ul li a{
    color: #fff;
}
footer ul li a:hover{
    color: darkcyan;
}

/*----------------------------- Registration and Login page styling --------------------------------------*/

.dark-header{
    background-color: rgba(88,79,76,0.8);
}

.registration-main, .login-main, .welcome-main{

    background-image: url("../images/registration-main-background2.jpg");
    /*height: 100%;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.login-main, .welcome-main{
    min-height: 900px;
}
.registration-form-sec, .login-form-sec, .welcome-sec{
    width: 40%;
    border: 2px solid #ff892f;
    border-radius: 10px;
    margin: 100px auto;
    padding: 50px;
    background-color: rgba(88,79,76,0.8);
    -webkit-box-shadow: 4px 6px 53px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 6px 53px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 6px 53px 0px rgba(0,0,0,0.75);
}

.login-form-sec{
    width: 35%;
}

.registration-form-sec h1, .login-form-sec h1, .welcome-sec h1{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 34px;
    /* color: #fff;*/
    margin: 10px 0px;
    font-weight: bold;
    color: #ff892f;
}
.registration-form-sec form span, .login-form-sec form span{
    font-family: 'Open Sans', sans-serif;
    color: #ff892f;
    font-size: 16px;
}

.registration-form-sec form input[type=text], input[type=email],input[type=password], .login-form-sec form input[type=text], input[type=email],input[type=password]{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
    border: none;
    margin: 5px 0px 20px 0px;
    background-color: rgba(88,79,76,1);
    color: #ff892f;
}
.registration-form-sec form input[type=submit], .login-form-sec form input[type=submit]{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px;
    border: none;
    margin: 5px 0px 20px 0px;
    background-color: #ff892f;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}
.registration-form-sec p, .login-form-sec p{
    text-align: center;
    color: #ff892f;
}
.registration-form-sec p a, .login-form-sec p a{
    color: #fff;
}
.registration-form-sec p a:hover, .login-form-sec p a:hover{
    color: #ff892f;
}
/* Welcome page style */
.welcome-main{

    background-image: url("../images/earbud_headpones.jpg");
}

/*----------------------------- Responsive Home Page --------------------------------------*/

@media only screen and (max-width: 1155px) {
    footer ul {
        width: 50%;}
    footer p {
        width: 38%;}
}

@media only screen and (max-width: 960px) {
    footer p {
        width: 38%;}
    footer ul {
        width: 59%;}
    footer ul li {
        margin-left: 5px;
    }
}

@media only screen and (max-width: 768px) {
    .plan{
        width: 46% !important;
        float: left !important;
        margin: 50px 7px 0px 0px !important;
    }
    footer p {
        float: none;
        width: 100%;
        text-align: center;
        font-size: 10px;
    }
    footer ul {
        float: none;
        width: 100%;
        padding-top: 10px;
        text-align: center;}
    footer ul li {
        float: none;
    }
}
@media only screen and (max-width: 610px) {
    .plan h2, .plan .plan-working h4{
        font-size: 16px !important;
    }
    .plan h1{
        font-size: 20px;
    }
    .plan a{
        padding: 5px 5%;
    }
    .plan ul li , .plan .plan-working p, .plan a{
        font-size: 12px !important;
    }
}

@media only screen and (max-width: 440px) {
    .head{
        text-align: center;
    }
    .logo{
        float: none;
    }
    nav ul {
        float: none;
        margin: 10px 0px;
    }
    nav ul li {
        float: none;
    }
    nav ul li:last-child {margin-top: 10px;}
    .registration-form-sec form input[type=submit], .login-form-sec form input[type=submit], .registration-form-sec form span, .login-form-sec form span, .registration-form-sec form input[type=text], input[type=email], input[type=password], .login-form-sec form input[type=text], input[type=email], input[type=password], .registration-form-sec p, .login-form-sec p{
        font-size: 12px !important;
    }

}
@media only screen and (max-width: 320px) {
    .plan{
        width: 100% !important;
        float: none !important;
        margin-top: 50px;
    }
    footer p {
        float: none;
        width: 100%;
        text-align: center;
        font-size: 10px;
    }
    footer ul {
        float: none;
        width: 100%;
        padding-top: 10px;
        text-align: center;}
    footer ul li {
        float: none;
    }
}